<!DOCTYPE html>
<html>
  <head>
    <title><%= @title ? "#{@title} - Tun Khine" : "Tun Khine" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('fire_flower.ico') %>
  </head>

  <body>
    <%= render 'layouts/public/head_main' %>
    <div class="p-4 max-w-full md:max-w-2xl">
      <%= yield %>
    </div>
    <%= render 'layouts/public/footer' %>
  </body>
</html>
